<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.chirag.RNMail">
  <queries>
    <intent>
      <action android:name="android.intent.action.SEND_MULTIPLE" />
      <data android:mimeType="*/*" />
    </intent>
  </queries>
  <application>
    <provider
        android:name=".RNMailFileProvider"
        android:authorities="${applicationId}.rnmail.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths"/>
    </provider>
  </application>
</manifest>
